<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="navbar">
      <% if(!user){ %>
        <a href="/sign-up">Sign Up</a>
        <a href="/log-in">Login</a>
      <% } else {%>
        <p><%= user.userName %></p>
        <a href="/log-out">Logout</a>
      <% } %>
    </div>
    <% if(user && user.isVerified === false) {%>
      <div class="postContainer">
        <form action="/verify-phrase" method="post">
          <input type="text" name="verificationPhrase" placeholder="Verification Phrase">
          <button>Submit Verification</button>
        </form>
      </div>
    <% } %>
    <% if(user && user.isVerified){%>
      <div class="postContainer">
        <form action="/create-post" method="post">
          <input type="text" name="postContent" placeholder="Post Message" maxlength="1200">
          <button>Submit Post</button>
        </form>
      </div>
    <% } %>
    <div class="messagesContainer">
    <% for(let i = 0; i < messages.length; i++){ %>
      <% console.log(messages[i].deleteUrl) %>
      <div>
        <p><%= messages[i].messageText %></p>
        <% if(user && user.isVerified === true || user && user.isAdmin === true){ %>
          <p><%= messages[i].postAuthor[0].username%></p>
          <a href= "<%= messages[i].deleteUrl %>">Delete</a>
        <% } else {%>
          <p>Anonymous</p>
        <% } %>
      </div>
    <% } %>
    </div>
  </body>
</html>
