<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <hr/>
    <% if(user.userName === message.postAuthor[0].userName || user.isAdmin){ %>
      <div>
        <h2>Do you wish to delete this message?</h2>
        <p><%= message.messageText %></p>
        <p><%= message.postAuthor[0].userName %></p>
        <p>Date Posted: <%= message.date %></p>
      </div>
      <form method="post" action="">
        <input type="hidden" id="<%= message._id %>" name="messageid" value="<%= message._id %>">
        <button type="submit">Delete</button>
      </form>
    <% } else { %>
      <a href="/">Home</a>
    <% } %>
  </body>
</html>